[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
numpy = "*"
requests = "*"
pillow = "*"
tf-keras = "==2.19.0"
h5py = "==3.11.0"

[dev-packages]

[requires]
python_version = "3.11"
